.container {
    padding: 24px;
}

.responsive-grid {
    display: grid;
    gap: 1%;
    grid-template-columns: 1;
}

table.mat-table {
    display: table;
}

.card {
    background-color: #002D72;
}

.title {
    color: white
}
